main {
  h1 {
    color: $red;
    font-size: 36px;
    text-align: center;
    margin-bottom: $margin;
  }

  // Styling for sections
  section {
    padding: $margin;

    &.red-background {
      background-color: #900;

      h1,
      p {
        color: white;
      }
    }

    &.white-background {
      background-color: white;

      h1,
      h3,
      p,
      li,
      em,
      a {
        color: black;
      }
    }

    &.blue-background {
      background-color: $blue-background;

      h1,
      h3,
      p {
        color: white;
      }
    }

    &.darkgray-background {
      background-color: $darkgrey-background;

      h1,
      h3,
      p {
        color: white;
      }
    }

    &.grey-background {
      background-color: $grey;

      h1,
      p {
        color: white;
      }

    }

    // Special styling for Contact section
    &#contact {
      h2 {
        font-size: 20px;
      }

      p,
      i {
        font-size: 18px;
        line-height: 34px;
      }

      .grid-parent {
        margin-bottom: unset;
      }
    }
  }

  .card p {
    text-align: left;

    & + p {
      text-indent: 0;
    }
  }

  #pubs {
    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      div.links {
        flex-direction: row;
        gap: 1rem;
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
        text-indent: 0;
      }

      a {
        width: fit-content;
        padding: .2rem .4rem;
        color: white;
        text-decoration: none;
        display: inline;

        &.pubLink {
          background-color: $blue-background;
        }

        &.codeLink {
          background-color: $darkgrey-background;
        }
      }
    }
  }

  p {
    color: rgb(65 65 65);
    text-align: justify;

    // Only indent first paragraph
    & + p {
      text-indent: 1em;
    }

  }

  // Research and project item links
  .research-item {
    color: white;
    text-indent: 0;

    &::before {
      content: '\2022';
      font-size: 32px;
      position: relative;
      top: 5px;
      margin-right: 5px;
    }
  }
}

h1.name {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 3.5rem;
  letter-spacing: -0.04em;
  text-align: center;
  margin-top: 10vh;
}
